.productPageTitle {
  margin: 40px 0 16px 0;
  padding: 0 30px;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
  color: var(--secondary--text-color);
}

.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 20px 81px 20px;
  row-gap: 40px;
  width: 100%;
}

.productItem {
  width: 350px;
  height: 474px;
  display: flex;
  flex-wrap: wrap;
  border: 3px solid #f2f2f2;
}

@media screen and (min-width: 320px) and (max-width: 750px) {
  .productPageTitle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 20px;
    width: 100%;
  }
}

@media screen and (max-width: 1450px) {
  .productPageTitle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 20px;
    width: 100%;
  }
}
