.wrapper {
    max-width: 1560px ;
}



@media screen and (max-width: 767px) {
   
    .wrapper {
         max-width: 767px;
    }
    
}
@media screen and (max-width: 480px) {
   
    .wrapper {
         max-width: 480px;
    }
    
}