/* .productList {
  display: flex;
  margin: 0 115px 328px 115px ;
  gap: 34px;
 
} */

.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 20px 81px 20px ;
  row-gap: 40px;
 
}



/* .productItem {
  width: 421px;
  height: 551px;
  display: flex;
  flex-wrap: wrap;
  border: 3px solid #f2f2f2;

} */

.productItem {
  width: 350px;
  height: 474px;
  display: flex;
  flex-wrap: wrap;
  border: 3px solid #f2f2f2;

}


/* .image {
    display: block;
    width: 421px;
    height: 441px;
} */


.image {
  display: block;
  width: 350px;
  height: 364px;
}


.productTitle {
padding: 0 28px;
font-family: var(--primary-font);
font-weight: 600;
font-size: 13px;
line-height: 1.5;
letter-spacing: -0.03em;
text-transform: uppercase;
color: var(--primary-text-color);
}

.productDescription {
padding: 8px 28px 28px 28px;
font-family: var(--primary-font);
font-weight: 700;
font-size: 19px;
line-height: 1.5;
color:var(--primary-text-color);
}
