.footer {
  padding: 27px 20px;
}

.footerTitle {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.container {
  max-width: 1560px;
  padding: 0 20px;
  margin: 0 auto;
}
