.homePageTitle {
  margin: 230px 0 16px 125px;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
  color: var(--secondary--text-color);
}

@media screen and (max-width: 600px) {
  .homePageTitle {
    margin: 230px 0 16px 20px;
  }
}
