.slider {
  font-family: sans-serif;
  max-width: 1560px;
  padding: 0 115px 328px 115px;
  gap: 34px;
}

.slick-disabled {
  display: none;
}
.slider > div {
  text-align: center;
}

.nextArrow {
  position: absolute;
  font-size: 2.5em;
  font-weight: bold;

  cursor: pointer;
  top: 40%;
  right: -36px;
}

.prevArrow {
  position: absolute;
  font-size: 2.5em;
  font-weight: bold;

  cursor: pointer;
  top: 40%;
  left: -36px;
  z-index: 10;
}

.productItemHome {
  max-width: 421px !important;
  height: 551px;
  border: 3px solid #f2f2f2;
  object-fit: cover;
}

@media screen and (max-width: 1400px) {
  .slider {
    padding: 0 80px 328px 80px;
    max-width: 1100px;
  }
}
@media screen and (max-width: 1000px) {
  .slider {
    padding: 0 10px 328px 10px;
    max-width: 600px;
  }

  .nextArrow {
    right: 5%;
  }

  .prevArrow {
    left: 5%;
  }

  .slider img {
    max-height: 398px;
  }
}

@media screen and (max-width: 600px) {
  .slider {
    padding: 0 10px 328px 10px;
    max-width: 360px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .nextArrow {
    right: -14%;
  }

  .prevArrow {
    left: -14%;
  }

  .slider img {
    max-height: 335px;
  }

  .productItemHome {
    height: 471px;
  }
}

@media screen and (max-width: 450px) {
  .slider {
    padding: 0 10px 128px 10px;
    max-width: 265px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .productItemHome {
    height: 351px;
  }
  .nextArrow {
    right: -19%;
  }

  .prevArrow {
    left: -19%;
  }

  .slider img {
    max-height: 250px;
  }
}
