.slider {
  font-family: sans-serif;
  padding: 10px 50px;
}

.slider > div {
  text-align: center;
}

.nextArrow {
  position: absolute;
  font-size: 2.5em;
  font-weight: bold;

  cursor: pointer;
  top: 40%;
  right: -36px;
}

.prevArrow {
  position: absolute;
  font-size: 2.5em;
  font-weight: bold;

  cursor: pointer;
  top: 40%;
  left: -36px;
  z-index: 10;
}

.slider {

  padding: 0 115px 328px 115px;
  gap: 34px;
}

.productItemHome {
  max-width: 421px !important;
  height: 551px;
  border: 3px solid #f2f2f2;
}

